@font-face {
  src: url('fonts/Barlow-ExtraLight.ttf');
  font-family: BarlowExtraLight;
  font-display: swap;
}

html {
    font-size: 10px;
}

@media (min-width: 1000px) {
  html {
      font-size: 16px;
  }
}

body {
  background-color: #000;
  text-align: center;
  color: #d1d1d1;
  font-family: BarlowExtraLight;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 3em;
}

.menu a {
  color: inherit;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

h1 {
  padding: 3rem 0 0 0;
  font-size: 3em;
  color: #5f5f5f;
}

h1.active {
  color: #d1d1d1;
}

h2 {
  font-size: 4em;
  line-height: 2em;
}

.photos {
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em 1em;
}

@media (min-width: 1000px) {
  .photos {
    padding: 0 10em 10em 10em;
  }
}

.image-container {
  margin-bottom: 2em;
  width: 100%;
}

@media (min-width: 1000px) {
  .image-container {
    margin-bottom: 5em;
  }
}

img {
  max-width: 100%;
  border: .3em solid #d1d1d1;
}

@media (min-width: 1000px) {
  img {
    border: 1em solid #d1d1d1;
  }
}
