@font-face {
  src: url('fonts/Barlow-ExtraLight.ttf');
  font-family: BarlowExtraLight;
  font-display: swap;
}

html {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: #000;
  text-align: center;
  color: #d1d1d1;
  font-family: BarlowExtraLight;
  padding: 0;
  margin: 0;
}


.title {
  display: block;
  font-size: 3em;
  color: #d1d1d1;
  padding: .3em 0;
}

@media (min-width: 1000px) {
  .title {
    display: none;
  }
}

.menu {
  display: none;
  width: 100%;
  justify-content: center;
  column-gap: 3em;
}

@media (min-width: 1000px) {
  .menu {
    display: flex;
  }
}

.menu a {
  color: inherit;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

h1 {
  padding: 0;
  font-size: 2em;
  color: #5f5f5f;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 3em;
  }
}

h1.active {
  color: #d1d1d1;
}

h2 {
  font-size: 4em;
  line-height: 2em;
}

.photos {
  display: flex;
  flex-direction: column;
  padding: 0 1.5em 1em 1em;
}

@media (min-width: 1000px) {
  .photos {
    padding: 0 10em 10em 10em;
  }
}

.image-container {
  margin-bottom: 2em;
  width: 100%;
}

@media (min-width: 1000px) {
  .image-container {
    margin-bottom: 5em;
  }
}

img {
  max-width: 100%;
  border: .3em solid #d1d1d1;
}

@media (min-width: 1000px) {
  img {
    border: 1em solid #d1d1d1;
  }
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 * https://codepen.io/erikterwan/pen/EVzeRP
 */
nav {
  height: 0;
}

#hamburger-toggle {
  display: block;
  position: relative;
  top: 4em;
  left: 1em;
  z-index: 1;
  user-select: none;
}


@media (min-width: 1000px) {
  #hamburger-toggle {
    display: none;
  }
}

#hamburger-toggle a {
  text-decoration: none;
  color: #747373;
  font-size: 2em;
}

#hamburger-toggle a.active {
  color: #000;
}

#hamburger-toggle a:hover {
  text-decoration: underline;
}

#hamburger-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  /* hide this */
  z-index: 2;
}

#hamburger-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #d1d1d1;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#hamburger-toggle span:first-child {
  transform-origin: 0% 0%;
}

#hamburger-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#hamburger-toggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000;
}

#hamburger-toggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#hamburger-toggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#hamburger-menu {
  position: absolute;
  width: 300px;
  max-width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #d1d1d1;
  list-style-type: none;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#hamburger-menu li {
  padding: 10px 0;
}

#hamburger-toggle input:checked~ul {
  transform: none;
}
